<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>

<!--<h1>Something went wrong! </h1>-->
<!--<h2>The page you are looking for do not exist.</h2>-->
<!--<h3 th:text="${message}"></h3>-->

<div class="container">
    <div class="row">
        <h1>Error Page</h1>
    </div>
    <div class="row">Sorry... something went wrong</div>
    <div class="row rowDesign">
        <div class="col-md-4 ml-auto">
            <span class="legend">Date</span>
        </div>
        <div class="col-md-8">
            <!--/*@thymesVar id="timestamp" type="java"*/-->
            <span th:text="${timestamp}"></span>
        </div>
    </div>
    <div class="row rowDesign">
        <div class="col-md-4 ml-auto">
            <span class="legend">Path</span>
        </div>
        <div class="col-md-8">
            <!--/*@thymesVar id="path" type="java"*/-->
            <span th:text="${path}"></span>
        </div>
    </div>
    <div class="row rowDesign">
        <div class="col-md-4 ml-auto">
            <span class="legend">Error</span>
        </div>
        <div class="col-md-8">
            <!--/*@thymesVar id="error" type="java"*/-->
            <span th:text="${error}"></span>
        </div>
    </div>
    <div class="row rowDesign">
        <div class="col-md-4 ml-auto">
            <span class="legend">Status</span>
        </div>
        <div class="col-md-8">
            <!--/*@thymesVar id="status" type="java"*/-->
            <span th:text="${status}"></span>
        </div>
    </div>
    <div class="row rowDesign">
        <div class="col-md-4 ml-auto">
            <span class="legend">Message</span>
        </div>
        <div class="col-md-8">
            <!--/*@thymesVar id="message" type="java"*/-->
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

<a th:href="@{/plant-lover/compatibilities}">Go Home</a>

</body>
</html>